<div class="bg-main rounded-4xl w-full max-w-xl p-8 space-y-8 relative">
  <div class="flex items-center justify-between">
    <h2 class="text-2xl text-content">Add study member</h2>
  </div>

  <div class="space-y-6">
    <div class="space-y-1">
      <input type="text" [ngModel]="searchQuery()" (ngModelChange)="onSearchChange($event)"
        placeholder="type username..."
        class="w-full px-4 py-2 bg-subtle rounded-xl text-sm outline-none placeholder:text-muted" autofocus />
    </div>

    <!-- Search Results -->
    <div class="min-h-[160px] max-h-[220px] overflow-y-auto custom-scrollbar space-y-1 p-2">
      @if (isSearching()) {
      <div class="flex items-center justify-center py-8">
        <div class="w-6 h-6 border-2 border-accent border-t-transparent rounded-full animate-spin"></div>
      </div>
      } @else if (results().length > 0) {
      @for (user of results(); track user.uid) {
      <button (click)="selectUser(user)"
        class="w-full flex items-center justify-between p-2.5 px-4 rounded-xl text-left group transition-all"
        [class.bg-accent]="selectedUser()?.uid === user.uid"
        [class.hover:bg-surface]="selectedUser()?.uid !== user.uid">
        <div class="flex flex-col">
          <span class="text-sm font-semibold text-content cursor-pointer"
            [class.!text-white]="selectedUser()?.uid === user.uid" [appUserHovercard]="user.username"
            [disableClick]="true">{{ user.username }}</span>
        </div>
      </button>
      }
      }
    </div>
  </div>

  <div class="pt-4 flex gap-4 w-full">
    <button appButton (click)="dialogRef.close()" class="flex-1">
      <span>Cancel</span>
    </button>
    <button appButton variant="primary" class="flex-1" (click)="onSubmit()" [disabled]="!selectedUser()">
      Add to study
    </button>
  </div>
</div>