<div class="h-screen w-full flex flex-col font-sans overflow-hidden">
  <app-header class="w-full shrink-0 z-50 relative"></app-header>

  <div class="flex flex-1 w-full relative pr-4 pl-4 overflow-hidden">
    <app-sidebar
      [course]="course()"
      [activeLessonId]="activeLesson()?.id ?? ''"
      (lessonSelected)="onLessonSelected($event)"
      class="h-full w-80 z-10 shrink-0"
    >
    </app-sidebar>

    <div class="flex-1 overflow-y-auto w-full relative custom-scrollbar">
      @if (isLoadingCourse() || isLoadingLesson()) {
        <main
          class="w-full mx-auto p-2 min-h-full flex flex-col bg-transparent animate-pulse"
        >
          <div class="shrink-0 top-4 z-20">
            <div class="flex justify-between items-center py-5">
              <div class="h-10 bg-slate-200 dark:bg-slate-800/80 rounded-lg w-1/3 sm:w-1/2"></div>
              <div class="flex gap-4">
                <div
                  class="h-10 w-24 bg-slate-200 dark:bg-slate-800/80 rounded-full hidden sm:block"
                ></div>
                <div
                  class="h-10 w-24 bg-slate-200 dark:bg-slate-800/80 rounded-full hidden sm:block"
                ></div>
              </div>
            </div>
          </div>

          <article class="max-w-5xl mb-12 shrink-0 mt-6">
            <div class="h-4 bg-slate-200 dark:bg-slate-800/80 rounded w-full mb-4"></div>
            <div class="h-4 bg-slate-200 dark:bg-slate-800/80 rounded w-11/12 mb-4"></div>
            <div class="h-4 bg-slate-200 dark:bg-slate-800/80 rounded w-4/5 mb-10"></div>

            <div
              class="flex flex-col mb-6 p-6 bg-slate-200 dark:bg-slate-800/30 rounded-2xl h-40"
            ></div>
          </article>
        </main>
      } @else if (course()) {
        <app-lesson-view
          [courseData]="course()"
          [lessonData]="activeLesson()"
          (startCourse)="onLessonSelected($event)"
          (nextLesson)="onNextLesson()"
          (prevLesson)="onPrevLesson()"
          (backToCourse)="onLessonSelected('')"
          class="block relative z-10 animate-fade-in"
        >
        </app-lesson-view>
      }
    </div>
  </div>
</div>
