.cg-wrap coords.ranks {
  left: -20px !important;
  top: 0 !important;
  height: 100% !important;
  width: 20px !important;
  flex-flow: column-reverse !important;
  line-height: 1 !important;
}

.cg-wrap coords.ranks.black {
  flex-flow: column !important;
}

.cg-wrap coords.files {
  bottom: -20px !important;
  left: 0 !important;
  width: 100% !important;
  height: 20px !important;
  flex-flow: row !important;
  line-height: 1 !important;
}

.cg-wrap coords.files.black {
  flex-flow: row-reverse !important;
}

.cg-wrap coords coord {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  transform: none !important;
  color: var(--color-muted) !important;
}