:host {
  display: block;
  width: 100%;
}

.glass-card {
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.bg-grid {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, currentColor 1px, transparent 1px);
}