<!-- Message List -->
<div #scrollContainer class="flex-1 overflow-y-auto min-h-0 p-4 rounded-lg" style="flex-basis: 0;">
  @for (msg of messages(); track msg.timestamp + msg.senderId) {
  <div class="relative flex items-baseline gap-2 group">
    <span class="text-xs font-medium shrink-0">
      {{ msg.senderName }}:
    </span>
    <span class="text-xs break-words min-w-0">{{ msg.text }}</span>
  </div>
  }
</div>

<!-- Input Area -->
<div class="flex-none select-none">
  <form (submit)="sendMessage(); $event.preventDefault()"
    class="flex border-t border-border-base items-center px-4 py-2.5">
    <input type="text" [(ngModel)]="newMessage" name="message" placeholder="send a message..."
      class="w-full bg-transparent text-sm/6 placeholder:text-muted focus:outline-none" autocomplete="off" />
  </form>
</div>