.cg-wrap piece.king.white { background-image: url(/pieces/tatiana/wK.svg); }
.cg-wrap piece.king.black { background-image: url(/pieces/tatiana/bK.svg); }
.cg-wrap piece.queen.white { background-image: url(/pieces/tatiana/wQ.svg); }
.cg-wrap piece.queen.black { background-image: url(/pieces/tatiana/bQ.svg); }
.cg-wrap piece.rook.white { background-image: url(/pieces/tatiana/wR.svg); }
.cg-wrap piece.rook.black { background-image: url(/pieces/tatiana/bR.svg); }
.cg-wrap piece.bishop.white { background-image: url(/pieces/tatiana/wB.svg); }
.cg-wrap piece.bishop.black { background-image: url(/pieces/tatiana/bB.svg); }
.cg-wrap piece.knight.white { background-image: url(/pieces/tatiana/wN.svg); }
.cg-wrap piece.knight.black { background-image: url(/pieces/tatiana/bN.svg); }
.cg-wrap piece.pawn.white { background-image: url(/pieces/tatiana/wP.svg); }
.cg-wrap piece.pawn.black { background-image: url(/pieces/tatiana/bP.svg); }
