<nav class="flex flex-col flex-1 overflow-y-auto min-h-[160px] p-1">
  <div class="flex-1 flex flex-col gap-0.5" cdkDropList (cdkDropListDropped)="onDrop($event)"
    [cdkDropListDisabled]="!canEdit()">
    @for (chap of study()?.chapters; track chap.id; let idx = $index) {
    <button (click)="selectChapter(chap)" cdkDrag [cdkDragDisabled]="!canEdit()" class="relative flex items-center justify-between p-2 cursor-pointer group text-left
            {{
              currentChapter()?.id === chap.id
                ? 'bg-subtle rounded-lg'
                : 'hover:bg-subtle rounded-lg'
            }}">
      <!-- Drag Placeholder -->
      <div *cdkDragPlaceholder class="h-10 bg-subtle border border-border-accent rounded-lg mx-2 my-0.5">
      </div>

      @if (currentChapter()?.id === chap.id) {
      <div class="absolute left-0 top-1 bottom-1 w-0.5 bg-border-accent"></div>
      }
      <div class="flex items-center gap-2 min-w-0">
        <span class="text-xs font-medium text-muted shrink-0 group-active:cursor-grabbing cursor-grab">
          {{ idx + 1 }}.
        </span>
        <span [class]="'text-sm/6 truncate ' + (currentChapter()?.id === chap.id ? 'text-accent' : 'text-content')">
          {{ chap.name }}
        </span>
      </div>

      <div class="flex items-center gap-4 shrink-0 ml-2">
        @if (chap.pgn_tags?.['Result'] && chap.pgn_tags?.['Result'] !== '*') {
        <span class="text-muted text-xs font-medium select-none">
          {{ chap.pgn_tags?.['Result'] }}
        </span>
        }
        @if (canEdit()) {
        <button (click)="onEditChapter($event, chap)" class="text-xs cursor-pointer hover:underline">Edit</button>
        }
      </div>
    </button>
    }
  </div>
</nav>