<div class="bg-main rounded-4xl w-full p-8 space-y-8 relative border border-border-base/50">
  <!-- Dialog Header -->
  <div class="flex items-center justify-between pb-2 border-b border-border-base/35">
    <h2 class="text-2xl">Game metadata</h2>
    <button (click)="dialogRef.close()"
      class="text-muted cursor-pointer transition-colors p-1 rounded-lg hover:bg-subtle" title="Close">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>

  <!-- Dialog Body -->
  <div class="space-y-6">
    <div class="grid grid-cols-[120px_1fr] gap-y-4 gap-x-4 max-h-[350px] overflow-y-auto custom-scrollbar p-1">
      @for (item of displayItems(); track item.label) {
      <div class="text-md flex items-center select-none">
        {{ item.label }}
      </div>
      <div class="text-sm font-medium text-content min-w-0 py-0.5 truncate" [class.text-muted\/55]="item.isPlaceholder"
        [class.italic]="item.isPlaceholder" [class.font-normal]="item.isPlaceholder"
        [title]="item.isPlaceholder ? '' : item.value">
        {{ item.value }}
      </div>
      }
    </div>
  </div>

  <!-- Dialog Footer -->
  <div class="pt-4 flex gap-4 w-full">
    @if (canEdit) {
    <button appButton variant="primary" (click)="onEdit()" class="flex-1">
      <span>Edit metadata</span>
    </button>
    }
  </div>
</div>