<div class="bg-white rounded-4xl max-w-xl flex flex-col gap-1.5 relative">
  <div class="p-6 pb-0 flex items-center justify-between shrink-0">
    <h2 class="text-2xl">Create new study</h2>
  </div>

  <div class="flex-1 p-8 pt-6 flex flex-col gap-6">

    <!-- Study Name -->
    <app-text-input
      id="study_name"
      label="Study name"
      [(ngModel)]="name"
      [maxlength]="100"
      placeholder="e.g. My Openings Analysis"
      [autofocus]="true"
      (enter)="onSubmit()"
      class="w-full" />

    <!-- Visibility -->
    <app-select
      label="Visibility"
      [items]="visibilityOptions"
      [(value)]="visibility"
      class="w-full" />

    <!-- Category Selection -->
    <app-select
      label="Category"
      [items]="categoryOptions"
      [(value)]="category"
      class="w-full" />

    <!-- Repertoire Orientation Selector (Only visible for Opening Repertoires) -->
    @if (category() === 'opening_repertoire') {
      <app-select
        label="Repertoire For?"
        [items]="orientationOptions"
        [(value)]="orientation"
        class="w-full" />
    }
  </div>

  <!-- Dialog Footer -->
  <div class="p-8 pt-4 flex gap-4 w-full shrink-0 justify-end">
    <button
      class="inline-flex items-center gap-2 px-6 py-2.5 rounded-full bg-white/80 backdrop-blur-xs border border-slate-200 font-medium text-[16px] leading-5 hover:bg-slate-200 transition-all"
      (click)="dialogRef.close()">
      Cancel
    </button>
    <button
      class="inline-flex items-center gap-2 px-6 py-2.5 rounded-full bg-slate-900 text-white font-medium text-[16px] leading-5 cursor-pointer"
      (click)="onSubmit()" [disabled]="!name().trim()">
      Create study
    </button>
  </div>
</div>