<div class="h-screen flex flex-col">
  <app-header class="w-full shrink-0 z-50"></app-header>
  <div class="flex-1 flex flex-col lg:flex-row overflow-hidden">
    <!-- Left Column: Form Section -->
    <div class="lg:basis-2/5 flex flex-col px-6 overflow-y-auto h-full">
      <div class="mx-auto my-auto w-full xl:max-w-sm py-8">
        <header>
          <h1 class="text-3xl md:text-4xl mb-4">Sign up for vonchess</h1>
        </header>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-4">
          <!-- Username Field -->
          <div class="space-y-2">
            <label for="username" class="text-sm/6 font-semibold"> Username </label>
            <input id="username" type="text" formControlName="username" placeholder="Yunah"
              class="block w-full pl-3 pr-3 py-2.5 bg-white border border-border-base bg-surface rounded-xl text-sm/6 placeholder:text-gray-500 focus:outline-none focus:ring-2 focus:ring-accent/50" />
            @if (usernameError()) {
            <p class="text-xs text-red-500 mt-1 px-1">{{ usernameError() }}</p>
            } @else if (
            registerForm.get('username')?.hasError('pattern') &&
            registerForm.get('username')?.touched
            ) {
            <p class="text-xs text-red-500 mt-1 px-1">
              Only letters, numbers, underscores &amp; hyphens are allowed.
            </p>
            } @else {
            <p class="text-xs mt-1 px-1">
              Only letters, numbers, underscores &amp; hyphens. No spaces.
            </p>
            }
          </div>

          <!-- Email Field -->
          <div class="space-y-1">
            <label for="email" class="text-sm/6 font-semibold"> Email </label>
            <input id="email" type="email" formControlName="email" placeholder="hello@email.com"
              class="block w-full pl-3 pr-3 py-2.5 bg-white border border-border-base bg-surface rounded-xl text-sm/6 placeholder:text-gray-500 focus:outline-none focus:ring-2 focus:ring-accent/50" />
            @if (emailError()) {
            <p class="text-xs text-red-500 mt-1 px-1">{{ emailError() }}</p>
            }
          </div>

          <!-- Password Field -->
          <div class="space-y-2">
            <label for="password" class="text-sm/6 font-semibold"> Password </label>
            <div class="relative">
              <input id="password" [type]="showPassword() ? 'text' : 'password'" formControlName="password"
                placeholder="••••••••"
                class="block w-full pl-3 pr-3 py-2.5 bg-white border border-border-base bg-surface rounded-xl text-sm/6 placeholder:text-gray-500 focus:outline-none focus:ring-2 focus:ring-accent/50" />
              <button type="button" (click)="showPassword.set(!showPassword())"
                class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-500 focus:outline-none flex items-center justify-center">
                @if (showPassword()) {
                <ng-icon name="heroEyeSlash" class="w-4.5 h-4.5"></ng-icon>
                } @else {
                <ng-icon name="heroEye" class="w-4.5 h-4.5"></ng-icon>
                }
              </button>
            </div>
            @if (registerForm.get('password')?.value) {
            <div class="flex items-center justify-between text-xs mt-1 px-1">
              <span class="text-gray-500">Strength:</span>
              <span class="capitalize " [class.text-red-500]="passwordStrength() === 'weak'"
                [class.text-yellow-500]="passwordStrength() === 'medium'"
                [class.text-green-500]="passwordStrength() === 'strong'">
                {{ passwordStrength() }}
              </span>
            </div>
            }
            <p class="text-xs mt-1 px-1">
              Min 8 characters, incl. uppercase, lowercase & numbers.
            </p>
          </div>

          <!-- Confirm Password Field -->
          <div class="space-y-2 mb-4">
            <label for="password_confirmation" class="text-sm/6 font-semibold"> Confirm Password </label>
            <div class="relative">
              <input id="password_confirmation" [type]="showConfirmPassword() ? 'text' : 'password'"
                formControlName="password_confirmation" placeholder="••••••••"
                class="block w-full pl-3 pr-3 py-2.5 bg-white border border-border-base bg-surface rounded-xl text-sm/6 placeholder:text-gray-500 focus:outline-none focus:ring-2 focus:ring-accent/50" />
              <button type="button" (click)="showConfirmPassword.set(!showConfirmPassword())"
                class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-500 focus:outline-none flex items-center justify-center">
                @if (showConfirmPassword()) {
                <ng-icon name="heroEyeSlash" class="w-4.5 h-4.5"></ng-icon>
                } @else {
                <ng-icon name="heroEye" class="w-4.5 h-4.5"></ng-icon>
                }
              </button>
            </div>
            @if (
            registerForm.hasError('passwordsMismatch') &&
            registerForm.get('password_confirmation')?.touched
            ) {
            <p class="text-xs text-red-500 mt-1 px-1">Passwords do not match.</p>
            }
          </div>

          <!-- Error Message -->
          @if (errorMessage()) {
          <div class="p-3 text-sm/6 text-red-500 bg-red-500/10 border border-red-500/20 rounded-lg">
            {{ errorMessage() }}
          </div>
          }

          <!-- Submit Button -->
          <button type="submit" [disabled]="registerForm.invalid || registerResource.isLoading()"
            class="w-full flex items-center justify-center gap-2 mt-6 px-6 py-3.5 rounded-full bg-slate-900 text-white text-[16px] leading-5 font-medium cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed">
            @if (registerResource.isLoading()) {
            <div class="w-4 h-4 border-4 border-current border-t-transparent rounded-full animate-spin shrink-0"></div>
            }
            Continue
          </button>
        </form>

        <p class="mt-6 text-center text-sm/6">
          Already have an account?
          <a routerLink="/login" class="font-semibold hover:underline underline-offset-4 decoration-accent">
            Sign in
          </a>
        </p>

        <p class="mt-8 text-center text-xs">
          By creating an account, you agree to the <br />
          <a routerLink="/terms-of-service" target="_blank" rel="noopener noreferrer"
            class=" underline underline-offset-2">Terms of Service</a>
          and
          <a routerLink="/privacy-policy" target="_blank" rel="noopener noreferrer"
            class=" underline underline-offset-2">Privacy Policy</a>
        </p>
      </div>
    </div>

    <!-- Right Column: Branding Section -->
    <app-auth-branding class="contents"></app-auth-branding>
  </div>
</div>