<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/60" (click)="cancel.emit()">
  <div class="bg-white rounded-4xl w-full max-w-md mx-4" (click)="$event.stopPropagation()">
    <div class="p-6">
      <div class="flex items-center justify-between mb-4">
        <h2 class="text-2xl">End class session?</h2>
      </div>

      <!-- Content -->
      <div class="space-y-3 mb-6">
        <p class="text-md">
          Confirm end class?
        </p>
        <li class="flex items-start gap-3">
          <span class="mt-1.5 w-1.5 h-1.5 rounded-full bg-blue-600 shrink-0"></span>
          <span class="text-sm/6">All students will be disconnected from this session</span>
        </li>
      </div>
    </div>

    <!-- Actions -->
    <div class="flex gap-3 px-6 pb-6">
      <button class="inline-flex items-center gap-2 px-6 py-2.5 rounded-full bg-white border border-border-base font-medium text-[16px] leading-5 cursor-pointer hover:bg-slate-200 transition-all"
      (click)="cancel.emit()">
        Cancel
      </button>
      <button class="inline-flex items-center gap-2 px-6 py-2.5 rounded-full bg-red-50 border border-transparent text-red-700 hover:bg-red-100 hover:text-red-800 transition-colors font-medium text-[16px] leading-5 cursor-pointer"
      (click)="confirm.emit()">
        End session
      </button>
    </div>
  </div>
</div>