@if (hasMetadata()) {
<div class="p-8 flex flex-col gap-2.5">
  <!-- Event & Date -->
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-2 overflow-hidden">
      <span class="text-xs font-medium truncate">{{ event() }}</span>
    </div>
    @if (date() || round()) {
    <div class="flex items-center gap-2 text-xs font-medium text-muted whitespace-nowrap">
      @if (date()) { <span>{{ date() }}</span> }
      @if (date() && round()) { <span>•</span> }
      @if (round()) { <span>Rd {{ round() }}</span> }
    </div>
    }
  </div>

  <!-- Players Match Header -->
  <div class="flex items-center gap-3 w-full min-w-0">
    <!-- White Player -->
    <div class="flex-1 flex flex-col items-center min-w-0 w-full">
      <div class="flex items-center justify-center gap-1.5 min-w-0 w-full">
        @if (whitePlayer().title) {
        <span class="px-1 py-0.5 rounded bg-accent text-xs font-medium uppercase shrink-0">{{
          whitePlayer().title }}</span>
        }
        <span class="text-xs font-medium truncate">{{ whitePlayer().name }}</span>
      </div>
      @if (whitePlayer().elo) {
      <span class="text-xs text-muted">{{ whitePlayer().elo }}</span>
      }
    </div>

    <!-- Result/VS Spacer -->
    <div class="shrink-0 flex flex-col items-center justify-center">
      <div class="px-2 py-1 rounded-md text-xs font-medium">
        {{ result() }}
      </div>
    </div>

    <!-- Black Player -->
    <div class="flex-1 flex flex-col items-center min-w-0 w-full">
      <div class="flex items-center justify-center gap-1.5 min-w-0 w-full">
        @if (blackPlayer().title) {
        <span class="px-1 py-0.5 rounded bg-accent text-xs font-medium uppercase shrink-0">{{
          blackPlayer().title }}</span>
        }
        <span class="text-xs font-medium truncate">{{ blackPlayer().name }}</span>
      </div>
      @if (blackPlayer().elo) {
      <span class="text-xs text-muted">{{ blackPlayer().elo }}</span>
      }
    </div>
  </div>
</div>
}